body{
    background-color : #EBF3E8;
}

p {
    color: red;
}

#titulo{
    font-size: 30px;
    text-align:center;
    color:#86A789;
}

.texto{
    text-align: justify;
    font-size: 20px;
    color: green;
}